body {
    background-color:aqua ;
    font-family: "Raleway", sans-serif;
}

.cabecalhos {
    text-align: center;
}

.elementos-ancora {
    justify-content: center;
    display: flex;
    gap: 15px;
}

footer {
    margin-top: 620px;
}